<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Elder Care</title>
        {% load static %}
        <meta name="robots" content="noindex">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="http://eldercare-vt-static.s3.amazonaws.com/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://eldercare-vt-static.s3.amazonaws.com/css/style.css">

        <script src="http://eldercare-vt-static.s3.amazonaws.com/js/jquery-3.4.1.slim.min.js">
        </script>
        <script src="http://eldercare-vt-static.s3.amazonaws.com/js/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src='http://eldercare-vt-static.s3.amazonaws.com/js/mapbox-gl.js'></script>
        <link href='http://eldercare-vt-static.s3.amazonaws.com/css/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://use.typekit.net/jws1erf.css">
        <style>
            
        </style>
        {% block header %}{% endblock %}
    </head>
    <body>
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <div class="row main-description align-items-center">
                    <div class="col col-xs-4 no-padding-left icon">
                        <a href="/" class="icon-link"></a>
                    </div>
                    <div class="col-10 col-xs-8">
                        <h2>Vermont Elder Care Navigator</h2>
                        <p>Search our directory of state-regulated residential care homes and assisted living residences
                            for citations and complaints
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 body">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer role="footer" class="footer">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <p>This service brought to you by
                        <a href="https://www.sevendaysvt.com/"
                            target="_blank">Seven Days</a>
                        <span>Vermont's Independent Voice</span>
                    </p>
                </div>
                <div class="row justify-content-center">
                    <ul>
                        <li>
                            <a href="" target="_blank">Contact Us</a>
                        </li>
                        <li>
                            <a href="" target="_blank">Send us a tip</a>
                        </li>
                    </ul>
                </div>
                <div class="row justify-content-center">
                    <div class="copyright-notice" style="padding-bottom: 0px;">
                        © <script>document.write(new Date().getFullYear());</script> Da Capo Publishing, Inc. — 255 S Champlain St. Ste 5, Burlington, Vermont 05401
                    </div>
                </div>
            </div>
        </footer>
        {% block footerscripts %}{% endblock %}
    </body>
</html>