{% extends 'base.html' %}

{% block title %}{{facility.name}}{% endblock %}

{% block header %}

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://kit.fontawesome.com/48476823f7.js" crossorigin="anonymous"></script>
<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .axis text {
        font: 10px sans-serif;
    }

    .cells path {
        fill: none;
        pointer-events: all;
    }

    .cells circle {
        stroke-width: .4;
        stroke:lightgray;
    }
    svg .annotation {
        stroke-dasharray:4;
        stroke:rgb(99, 99, 99);
    }
    svg text {
        fill:rgb(99, 99, 99);
        font-family:sans-serif;
        font-size:.8em;
    }
    /* #facilityScores {
        height:100px;
    }
    @media only screen and (max-width: 480px){
        #facilityScores {
            height:300px;
        }
    } */
    
</style>
{% endblock %}

{% block content %}
{% load static %}
{% load humanize %}
<div class="row facility-header">
    <div class="col-md-10 col-xs-8">
        <h1>{{object.name}}{% if facility.formername %} <span style="facility-formername">(Formerly {{facility.formername}})</span>{% endif %}{% if facility.closedate %} <span
                style="facility-status">(Closed {{facility.closedate|date:"F Y"}})</span>{% elif facility.opendate %}
                <span
                style="facility-status">(Opened {{facility.opendate|date:"F Y"}})</span>{% endif %}</h1>
        <h2 class="type">{{facility.care_type}}{% if facility.level %} - Level {{facility.level}}{% endif %}</h2>
    </div>
    <div class="col-md-2 col-xs-4">
        <a id="methodologyToggle" data-toggle="modal" data-target="#methodology">Methodology</a>
    </div>
</div>
<div class="row facility-details">
    <div class='col-md-5 col-lg-4 col-xl-3'>
        <div id="map" style="min-height:200px;height:100%;width:100%;"></div>
    </div>
    <div class='col-md'>
        <div class="address">
            <div class="data-header">Address</div>
            <div class="data-item data-container">
                {{object.address}}, {{object.town}}<br>
                {{facility.county}} County
            </div>
        </div>
        <div class="capacity data-container">
            <div class="data-header">Capacity</div>
            <div class="data-item">{{facility.capacity}}</div>
        </div>
        <div class="penalties data-container">
            <div class="data-header">Penalties</div>
            <div class="data-item">
                ${{tot_penalties|intcomma}}
            </div>
        </div>
    </div>
    <div class='col-md-4 col-lg-5 justify-content-between'>
        <div class="row">
            <div class="col-12">
                <div class="data-header">Annual citations</div>
                <svg id="year-chart" width="100%" height="200"></svg>
            </div>
        </div>
    </div>
</div>
<div class="row facility-scores">
    <div class="col-xl d-block">
        <div class="data-header">Cumulative facility violation scores since January 2014</div>
        <svg id="facilityScores" width="100%" height="150">
            <defs>
                <marker id="arrow" markerUnits="strokeWidth" markerWidth="7" markerHeight="7" viewBox="0 0 12 12"
                    refX="6" refY="6" orient="auto">
                    <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #000;"></path>
                </marker>
            </defs>
        </svg>
    </div>
</div>
<div class="row facility-complaints">
    <div class="col-xl d-block">
        <h5>Complaints</h5>
        <p>Between January 1, 2014, and April 4, 2019, {{facility.name}} received <span class="highlight complaint">{{complaints_count}}</span>
            complaints. The Division of Licensing and Protection found that <span
                class="highlight substantiated">{{substantiated_count}}</span> {% if substantiated_count == 1 %}was{% else %}were{% endif %} substantiated.</p>
    </div>
</div>
<div class="row facility-inspections">
    <div class="col-xl d-block">
        <h5>Inspections</h5>
        <table class="table">
            <thead>
                <tr>
                    <th class="collapse-icon"></th>
                    <th>Date</th>
                    <th>Citations</th>
                </tr>
            </thead>
            <tbody>
                {% for inspection in inspections %}
                <tr {% if inspection.citation_set.all %}data-toggle="collapse" data-target="#inspection{{inspection.id}}"{% endif %}
                    class="clickable collapsed">
                    <td class="collapse-icon">{% if inspection.citation_set.all %}<i class="fa" aria-hidden="true"></i>{% endif %}</td>
                    <td class="align-left">{{inspection.date}}</td>
                    <td>{{inspection.citation_set.all|length}}</td>
                    <!-- <td></td> -->
                </tr>
                <tr>
                    <td colspan="4" class="sub-table">
                        {% if inspection.citation_set.all %}
                        <div id="inspection{{inspection.id}}" class="citations-detail collapse">
                            <table class="table">
                                {% for citation in inspection.citation_set.all %}
                                    <tr>
                                        <td>{{citation.citation_num}}</td>
                                        <td>{{citation.citation_type}} > {{citation.citation_subtype}}</td>
                                        <td class="text-center">
                                            <div class="ss {{citation.severity_scope.letter}}" 
                                                 data-toggle="popover"
                                                 data-trigger="hover"
                                                 title="{{citation.severity_scope.letter}}"
                                                 data-content="<b>Severity</b><br>{{citation.severity_scope.severity}}<br><b>Scope</b><br>{{citation.severity_scope.scope}}"
                                            >
                                                {{citation.severity_scope.letter}}</div>
                                                
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <a href="{{inspection.documentcloud_url}}" target="_blank">Read the full inspection report</a>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="methodology" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="methodologyLabel">Our methodology</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                xxx
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footerscripts %}
<script>
    // citation chart setup
    var citations = {{citation_type_json|safe}};
    var citation_totals = {{citation_json|safe}};
    var scoresList = {{scores}};
    var score = {{facility.score}};
    var mapMarker = {
        'type':"{{facility.care_type}}",
        'coords':[{{facility.lon}}, {{facility.lat}}]
    };

    $(function () {
    $('[data-toggle="popover"]').popover({
        "html":true
    })
    })

    $('#methodologyToggle').on('shown.bs.modal', function () {
        $('#methodology').trigger('focus')
    })
</script>

<script src="{% static 'js/charts.js' %}"></script>
{% endblock %}