{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block header %}
  <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.css">
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

{% block content %}
<div id="app">
    <div class="row filters">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" v-model="search" placeholder="Search for a facility or town">
            </div>
            <div class="form-group">
                <label for="countyFilter">Filter by county</label>
                <select v-model="county" class="form-control" id="countyFilter">
                    <option value="">All Counties</option>
                    <option>Addison</option>
                    <option>Bennington</option>
                    <option>Caledonia</option>
                    <option>Chittenden</option>
                    <option>Essex</option>
                    <option>Franklin</option>
                    <option>Grand Isle</option>
                    <option>Lamoille</option>
                    <option>Orange</option>
                    <option>Orleans</option>
                    <option>Rutland</option>
                    <option>Washington</option>
                    <option>Windham</option>
                    <option>Windsor</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <mapbox-map></mapbox-map>
        </div>
    </div>

    <div class="row facilities-list">
        <table class="table">
            <thead>
                <tr>
                    <th @click="sort('name')">Facility</th>
                    <th @click="sort('type')">Type</th>
                    <th @click="sort('town')">Town</th>
                    <th @click="sort('capacity')">Capacity</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="facility in filteredFacilities">
                    <td><a :href="[[ facility.id ]]">[[ facility.name ]]</a> <span v-if="facility.status == false">- Closed</span></td>
                    <td>[[ facility.type ]]</td>
                    <td>[[ facility.town ]]</td>
                    <td>[[ facility.capacity ]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block footer %}
<script type='text/javascript'>

    var facilities = {{facilities_json|safe}};

    // map setup
    mapboxgl.accessToken =
        'pk.eyJ1Ijoic2V2ZW5kYXlzIiwiYSI6ImNrMXM3aTg0azA5YTgzbW8wbmcyY3MzZ2gifQ.BRHRdBxzm9kdnwf3NTiwwQ';

    Vue.component('mapbox-map', {
        data: function(){
            return {facilities}
        },
        template: '<div class="mapbox-map" id="mapbox-map"></div>',
        mounted: function(){
            const map = new mapboxgl.Map({
                container: 'mapbox-map',
                style: 'mapbox://styles/mapbox/light-v10',
                center: [-73.1,43.5],
                zoom: 6
            });
            const coords = []

            this.facilities.forEach((facility) => {
                new mapboxgl.Marker()
                    .setLngLat([facility.lon, facility.lat])
                    .addTo(map);
        });
        }
    })

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            search: '',
            county: '',
            currentSort:'name',
            currentSortDir:'asc',
            facilities: facilities,
        },
        methods: {
            sort:function(s) {
                //if s == current sort, reverse
                if(s === this.currentSort) {
                this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
                }
                this.currentSort = s;
            }
        },
        computed: {
            filteredFacilities() {
                filteredFacilities = this.facilities
                filteredFacilities = filteredFacilities.filter(facility => {
                    searchMatch = facility.name.toLowerCase().includes(this.search.toLowerCase());
                    countyMatch = facility.county.includes(this.county);
                    return (searchMatch & countyMatch)
                })
                filteredFacilities = filteredFacilities.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
                return filteredFacilities;
            }
        }
    });


</script>
{% endblock %}